div {
    color: white;
}

body {
    text-align: center;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

#div1 {
    position: absolute;
    top: 10%;
    left: 0%;
    right: 0%;
}

#div2 {
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
}